.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 212px;
    margin-right: 240px;
    
}

.head p {
    font-family: 'myfont', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.button3 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.button3 button{
    border: none;
}

/* .map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.5s ease;
    overflow: hidden;
    padding: 0 40px;
    width: 100%;
    gap: 10px;
     /* right: -155px;
    left: -344px; */
/*} */


.border1 {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    width: 400px;
    height: 240px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* .to {
    /* justify-content: space-between; */
   /* width: 336px;
    height: 161px;
    margin-top: 28px;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 50px;
    
} */
 .to{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-right: 50px;
    width: 400px;
    height: 300px;
    gap: 500px;
    flex-direction: column;
 }
 .to2o{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 240px;
    /* padding-bottom: 20px; */
    /* padding-top: 28px; */
    padding-left: 32px;
    padding-right: 32px;
 }
.img1 {
    width: 138px;
    height: 22px;
    margin-top: -22px;
}

.name {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    font-family: 'myfont', sans-serif;
    gap: 10px;
    margin-top: 15px;
}

.img3 {
    width: 19.5px;
    height: 19.5px;
    top: 2.25px;
}

.matn {
    width: 336px;
    height: 88px;
    font-style: bold;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 12px;
}


/* .swiper-slide:last-child{
    filter: blur(2px);
}
.swiper-slide:first-child{
    filter: blur(2px);
} */
 /* .swiper-slide-next:last-child{
    filter: blur(2px);
    transition: 0.5 ease;
 } */
 .swiper-slide-prev{
    filter: blur(2px);
 }
 /* .swiper-slide-next{
    filter: blur(2px);
 } */
 .swiper-slide:last-child{
    filter: blur(2px);
 }
.swiper-slide:first-child{
    filter: blur(2px);
}